head{
  background-color: #000000;
}

body{
  background-color: #000000;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  border-radius: 40px;
  font-family: "Verdana", sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 28px 28px;
  text-decoration: none;
  font-size: 40px;
  border-radius: 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
  border-radius: 40px;
  background-color: #4CAF50;
}

/* Add a color to the active/current link */
.topnav a:active {
  background-color: #4CAF50;
  color: white;
}

h1 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: "Verdana", sans-serif;
}

table#t01 tr:nth-child(even) {
  background-color: #eee;
  font-size: 18px;
  border-radius: 10px;
  font-family: "Verdana", sans-serif;
}
table#t01 tr:nth-child(odd) {
  background-color: #fff;
  font-size: 18px;
  border-radius: 10px;
  font-family: "Verdana", sans-serif;
}
table#t01 th {
  color: white;
  background-color: black;
  font-size: 22px;
  border-radius: 10px;
  font-family: "Verdana", sans-serif;
}

table#t01 th, td {
  padding: 15px;
}
table#t01 tr:hover {background-color: #4CAF50;
  border-radius: 10px;
  color: white;
  font-style: oblique;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
